<div id="supplier-related-products">
	<% unless @product.suppliers.empty? %>
		<div class="section-title">
			<h1>More pieces by <%= link_to @product.suppliers.first.users.first.name, spree.supplier_path(@product.suppliers.first.id) %></h1>
		</div>
		<%= render :partial => 'spree/shared/products', :locals => { :products => @product.suppliers.first.products.are_active.uniq[0..3] } %>
	<% end %>
</div>
